.carousel {
    padding: 10px;
}

.categorias {
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #212529;
}

.categorias h2 {
    padding-top: 15px;
}

.categorias a {
    margin: 10px;
}

.cartoes {
    padding: 12px;

}

.breadcrumb .breadcrumb-item a {
    text-decoration: none;
    color: #FFC107;
}

.card button {
    background: #cda23e;
}

footer {
    margin: 20px;
}