.main {
    background-color: #F8F9FA;
    font-family: 'Poppins', sans-serif;
}

.carousel {
    padding: 10px;
    max-width: 1200px;
}

.categorias {
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #212529;
}

.categorias h2 {
    padding-top: 15px;
}

.categorias a {
    margin: 10px;
}

.cartoes {
    padding: 12px;
}

.breadcrumb .breadcrumb-item a {
    text-decoration: none;
    color: #CDA23E;
}

footer {
    margin: 20px;
}

footer ul {
    list-style: none;
    padding: 0;
}

.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.description {
    text-align: justify;
}